* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f4858;
    font-family: sans-serif;
}

.containerDown {
    color: #86bbd8;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.containerUp {
    color: #86bbd8;
    text-align: center;
}
.containerProgress {
    color: #86bbd8;
    text-align: center;
}

h1 {
    font-weight: normal;
}

li {
    display: inline-block;

    font-size: 0.8em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {

    display: block;

    font-size: 1.6rem;
}
#containerProgress{
    padding-top: 50px;

}

#progressbar {
    background-color: white;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

#progressbar>div {
    background-color: #336699;
    width: 40%;
    /* Adjust with JavaScript */
    height: 20px;
}