* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f4858;
    font-family: sans-serif;
}

.containerDown {
    color: #2f4858;
    text-align: center;
    margin-top: 150px;
    background-color: aqua;


}
.containerUp {
    color: #86bbd8;
    text-align: center;
}
.containerProgress {
    color: #86bbd8;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size:2.4em;
    color:#2f4858;
    font-family: "Source Sans Pro",sans-serif;


}
#head2 {

    color:#86bbd8;


}

li {
    display: inline-block;

    font-size: 1.6em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
}

li span {

    display: block;

    font-size: 3.2rem;
}
#containerProgress{
    background-color: aqua;

    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}

#progressbar {
    background-color: white;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

#progressbar>div {
    //background-color: #336699;
    background-color: #2f4858;
    width: 40%;
    /* Adjust with JavaScript */
    height: 20px;
}